body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

main img {
    width: 100px;
}

form input[type=submit] {
    margin-bottom: 0.5vh;
}

.scoreboard {
    width: 100%;
}

.scoreboard h1 {
    width: 100%;
    height: 4vh;
    margin: 0;
    font-size: 3vh;
    text-align: center;
}

.scoreboard .scores {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.scores .scoreColumn {
    width: 50%;
    min-height: 4vh;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.scoreColumn {
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
}

.scoreColumn h2 {
    width: 100%;
}

.scoreColumn .columnTotal {
    width: 100%;
    height: 2vh;
    position: absolute;
    bottom: 0;
}

.scoreColumn .graphicHand {
    width: 30%;
    margin-left: 35%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.scoreColumn img {
    width: 30px;
}

h1.compWon {
    color: red;
}

h1.playerWon {
    color: green;
}

.postRoundOptions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.previousResults {
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: space-around;
}

.previousColumn {
    width: 30%;
    height: 2vh;
    text-align: center;
}
